---
layout: page
title: Tags
permalink: /tags/
---

<div class="tags-page">
  <h4 class="page-subtitle"><i class="fa fa-tags"></i> Tag Cloud</h4>
  
  <ul class="tag-cloud">
  {% for tag in site.tags %}
    <li>
      <a class="post-tag" href="#{{ tag | first | slugize }}">
        #{{ tag | first }} <span class="tag-count">({{ tag | last | size }})</span>
      </a>
    </li>
  {% endfor %}
  </ul>

  <div class="tag-list">
  {% for tag in site.tags %}
    <div class="tag-group" id="{{ tag | first | slugize }}">
      {% capture tag_name %}{{ tag | first }}{% endcapture %}
      <h3 class="tag-group-title"><i class="fa fa-tag"></i> {{ tag_name }}</h3>
      <ul class="tag-item-list">
      {% for post in site.tags[tag_name] %}
        <li class="tag-item">
          <span class="tag-item-date">{{ post.date | date: "%b %d, %Y" }}</span>
          <a class="tag-item-title" href="{{ post.url | relative_url }}">{{ post.title }}</a>
        </li>
      {% endfor %}
      </ul>
    </div>
  {% endfor %}
  </div>
</div>
