{% assign max_related = 3 %}
{% assign related_count = 0 %}

<div class="related-posts">
  <h4 class="related-posts-heading"><i class="fa fa-newspaper-o"></i> Related Articles</h4>
  <div class="related-posts-grid">
    {% for post in site.posts %}
      {% if post.url != page.url %}
        {% assign is_match = false %}
        {% for cat in post.categories %}
          {% if page.categories contains cat %}
            {% assign is_match = true %}
          {% endif %}
        {% endfor %}
        {% for tag in post.tags %}
          {% if page.tags contains tag %}
            {% assign is_match = true %}
          {% endif %}
        {% endfor %}

        {% if is_match and related_count < max_related %}
          {% assign related_count = related_count | plus: 1 %}
          <article class="related-card">
            <div class="related-card-meta">
              <span class="related-card-date"><i class="fa fa-calendar-o"></i> {{ post.date | date: "%-d %b %Y" | upcase }}</span>
              <span class="related-card-readtime"><i class="fa fa-clock-o"></i> {% assign content = post.content %}{% include read_time.html %}</span>
            </div>
            <h5 class="related-card-title">
              <a href="{{ post.url | relative_url }}">{{ post.title }}</a>
            </h5>
            {% if post.excerpt %}
            <p class="related-card-excerpt">{{ post.excerpt | strip_html | truncatewords: 18 }}</p>
            {% endif %}
          </article>
        {% endif %}
      {% endif %}
    {% endfor %}

    {% if related_count == 0 %}
      {% for post in site.related_posts limit: max_related %}
        <article class="related-card">
          <div class="related-card-meta">
            <span class="related-card-date"><i class="fa fa-calendar-o"></i> {{ post.date | date: "%-d %b %Y" | upcase }}</span>
            <span class="related-card-readtime"><i class="fa fa-clock-o"></i> {% assign content = post.content %}{% include read_time.html %}</span>
          </div>
          <h5 class="related-card-title">
            <a href="{{ post.url | relative_url }}">{{ post.title }}</a>
          </h5>
          {% if post.excerpt %}
          <p class="related-card-excerpt">{{ post.excerpt | strip_html | truncatewords: 18 }}</p>
          {% endif %}
        </article>
      {% endfor %}
    {% endif %}
  </div>
</div>
