{% if page.author %} {% assign author = site.data.authors[page.author] %}{% else %}{% assign author = site.owner %}{% endif %}

<div class="cover-card table-cell table-middle">
  {% if author.avatar_light or author.avatar_dark or author.avatar %}
  <a href="{{ "/" | relative_url }}" class="avatar-container">
    {% if author.avatar_light %}
    <img src="{{ "/img/" | append: author.avatar_light | relative_url }}" alt="{{ author.name }}" class="avatar avatar-light">
    {% endif %}
    {% if author.avatar_dark %}
    <img src="{{ "/img/" | append: author.avatar_dark | relative_url }}" alt="{{ author.name }}" class="avatar avatar-dark">
    {% endif %}
    {% if author.avatar and author.avatar_light == nil and author.avatar_dark == nil %}
    <img src="{{ "/img/" | append: author.avatar | relative_url }}" alt="{{ author.name }}" class="avatar">
    {% endif %}
  </a>
  {% endif %}
  <a href="{{ "/" | relative_url }}" class="author_name">{{ author.name }}</a>
  <span class="author_job">{{ author.job }}</span>
  <span class="author_bio mbm">{{ author.bio }}</span>
  <nav class="nav">
    <ul class="nav-list">
      <li class="nav-item">
        <a href="{{ "/" | relative_url }}" {% if page.url == '/' or page.url == '/index.html' %}class="active"{% endif %}><i class="fa fa-home"></i> Home</a>
      </li>
      <li class="nav-item">
        <a href="{{ "/archive/" | relative_url }}" {% if page.url contains '/archive' %}class="active"{% endif %}><i class="fa fa-archive"></i> Archive</a>
      </li>
      <li class="nav-item">
        <a href="{{ "/tags/" | relative_url }}" {% if page.url contains '/tags' %}class="active"{% endif %}><i class="fa fa-tags"></i> Tags</a>
      </li>
    </ul>
  </nav>
  {% include social-links.html %}
  <div class="theme-toggle-container">
    <button type="button" id="theme-toggle" class="theme-toggle-pill" aria-label="Toggle Light or Dark Theme" title="Toggle theme">
      <span class="theme-pill-option option-light">
        <i class="fa fa-sun-o"></i> <span>Light</span>
      </span>
      <span class="theme-pill-option option-dark">
        <i class="fa fa-moon-o"></i> <span>Dark</span>
      </span>
      <span class="theme-pill-indicator"></span>
    </button>
  </div>
  <div class="sidebar-copyright">
    &copy; {{ site.time | date: '%Y' }} {{ site.owner.name }}.
  </div>
</div>