<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body>
  <div class="theme-toggle-floating-container">
    <button type="button" id="theme-toggle" class="theme-toggle-icon-btn" aria-label="Toggle Light or Dark Theme" title="Toggle Theme">
      <i id="theme-toggle-icon" class="fa fa-sun-o"></i>
    </button>
  </div>

  <div class="site-layout-wrapper">
    <aside class="sidebar-column">
      <div class="table cover">
        {% include sidebar.html %}
      </div>
    </aside>
    <main class="main-content-column">
      <div class="main-content">
        {{ content }}
        {% include footer.html %}
      </div>
    </main>
  </div>
  {% include js.html %}
</body>
</html>
